body {
    /* background-color: #FF7F00; */
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 !important;
    overflow: hidden;
}
.container.first {
    background-color: #ff6600 !important;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcome-content {
    text-align: center;
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.logo-icon {
    width: 60px;
    height: 60px;
    background-color: #ff6600;
    border: 2px solid white;
    border-radius: 8px;
    display: flex
;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.logo-icon svg {
    fill: white;
    width: 45px;
    height: 45px;
}

.logo-text {
    text-align: left;
}

.logo-text .orange-brand {
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 5px;
    color: #ff6600;
}

.logo-text .friendz-chat {
    font-size: 18px;
    line-height: 1;
    color: #ff6600;
    font-weight: 600;
}

.btn-continue {
    background-color: white;
    border-color: white;
    color: #FF7F00;
    padding: 12px 40px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 50px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

.btn-continue:hover {
    background-color: #ffe0b3;
    border-color: #ffe0b3;
    color: #FF7F00;
}


.bottom-button {
    margin-top: auto;
    padding: 40px 0;
    text-align: center;
}

.bottom-button button {
    background-color: #fff;
    color: #ff6600;
    padding: 12px 62px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.bottom-button button:hover {
    background-color: #fff;
    color: #ff6600;
}




@media (max-width: 768px) {
    .container.first {
        width: 100%;
    } 
}